@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

body{
  font-family: aktiv-grotesk-extended,sans-serif;
  font-style: normal;
  color: white;
  overflow: auto;
  background-image: linear-gradient(180deg, #000000, #0e1487);
  min-height: 100vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}


h1{
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-weight: 600;
}

h3{
  font-weight: 300;
}

h4{
  font-weight: 600;
}

h5{
  font-weight: 600;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.card{
  border: none;
  background-color: transparent;
}

card-img{
  width: 100%;
}

@media(min-width: 0px){
  h1{
    font-size: 5vh;
  }
  #changeTextMobile{
    display: block;
    font-size: 5vh;
  }
  #changeText{
    font-size: 5vh;
    display:none !important;
  }
   #cursor{
    display: none !important;
  }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-sizer,
  .grid-item { width: 100%; }
  h1{
    font-size: normal;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-sizer,
  .grid-item { width: 50%; }
  #name{
    font-size: 8vh;
  }
  .button-group{
    position: fixed;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {.grid-sizer,
  .grid-item { width: 33%; }

  #changeTextMobile{
    display: none;
  }
  #changeText{
    font-size: 5vh;
    display:inline-block !important;
  }
  #cursor{
    display: inline-block !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {.grid-sizer,
  .grid-item { width: 33%; }
}

.navbar-brand{
  font-weight: 600;
  font-display: 400;
}

.navbar-brand:hover{
  opacity: 50%;
  transition: 0.2s;
}


.button{
  background-color: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
}

.button:hover{
  opacity: 50%;
  transition: 0.2s;
}

.button.is-checked {
  color:#3392fb;
}

.grid-item{
  padding: 10px;
}

.grid-item img{
  max-width: 100%;
  box-shadow:  4px 4px 60px 10px #8e8a8a30;
}

.grid-item img:hover{
  box-shadow:  4px 4px 60px 10px #8e8a8a60;
}

.card-img{
  box-shadow:  4px 4px 60px 10px #8e8a8a30;
}

.card-img:hover{
  box-shadow:  4px 4px 60px 10px #8e8a8a60;
}

.nav-link, .navbar-brand{
  text-transform: uppercase;
}

.footer{
  background: transparent;
}

.nav-link{
  font-weight: 300 !important;
}
a {
  text-decoration: none;
  background-image: linear-gradient(#3392fb, #3392fb);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  font-weight: bold;
  color: #3392fb;
 }
 a:hover, a:focus {
  opacity: 50%;
  text-decoration: none;
  background-size: 100% 2px;
 }

 .leftgear{  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: none;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.leftgear:hover{
  transition: 3s;
  transform: scale(1.10);
}

#changeText {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 57px;
	background-color: #3392fb;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #3392fb;
	}
}