@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

*{
  cursor: none;
}

/*--Example 2--*/
.your-cursor2 {
	position: absolute;
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);
}
.your-cursor2.active {
	opacity: 0.5;
	transform: scale(0);
}
.your-cursor2.hovered {
	opacity: 0.08;
}

.follow2 {
	position: absolute;
	background-color: rgba(174, 174, 174, 0.3);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(5px, 5px);
}
.follow2.active {
	opacity: 0.7;
	transform: scale(3);
}
.follow2.hovered {
	opacity: 0.08;
}

body{
  font-style: normal;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 2em;
  color: #5d5d5d;
  overflow: auto;
  background-image: linear-gradient(180deg, #000000, #0e1487);
  min-height: 100vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}


h1{
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #303030;
}

h2{
  font-family: aktiv-grotesk-extended,sans-serif;
  font-size: 1.5em;
  color: #3b3b3b;
}

h3{
  font-family: aktiv-grotesk-extended,sans-serif;
  font-size: 1.25em;
  color: #4c4c4c;
}

blockquote{
  font-family: aktiv-grotesk-extended,sans-serif;
  border-left: 4px solid #ccc;
  margin: 1em 10px;
  padding: 0.5em 1em;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

mark{
  background-color: #3392fb30;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.card{
  border: none;
  background-color: transparent;
}

card-img{
  width: 100%;
  box-shadow:  4px 4px 60px 10px #8e8a8a30;
}

@media(min-width: 0px){
  #changeTextMobile{
    display: block;
    font-size: 5vh;
  }
  #changeText{
    font-size: 5vh;
    display:none !important;
  }
   #cursor{
    display: none !important;
  }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-sizer,
  .grid-item { width: 100%; }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-sizer,
  .grid-item { width: 50%; }
  #name{
    font-size: 8vh;
  }
  .button-group{
    position: fixed;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {.grid-sizer,
  .grid-item { width: 33%; }

  #changeTextMobile{
    display: none;
  }
  #changeText{
    font-size: 5vh;
    display:inline-block !important;
  }
  #cursor{
    display: inline-block !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {.grid-sizer,
  .grid-item { width: 33%; }
}

.navbar-brand{
  font-weight: 600;
  font-display: 400;
}

.navbar-brand:hover{
  opacity: 50%;
  transition: 0.2s;
}


.button{
  background-color: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
}

.button:hover{
  opacity: 50%;
  transition: 0.2s;
}

.button.is-checked {
  color:#3392fb;
}

.grid-item{
  padding: 10px;
}

.grid-item img{
  max-width: 100%;
  box-shadow:  4px 4px 60px 10px #8e8a8a30;
}

.grid-item img:hover{
  box-shadow:  4px 4px 60px 10px #8e8a8a60;
}


.card-img:hover{
  box-shadow:  4px 4px 60px 10px #8e8a8a60;
}

.nav-link, .navbar-brand{
  text-transform: uppercase;
}

.footer{
  background: transparent;
}

.nav-link{
  font-weight: 300 !important;
}
a {
  text-decoration: none;
  background-image: linear-gradient(#3392fb, #3392fb);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  font-weight: bold;
  color: #3392fb;
 }
 a:hover, a:focus {
  opacity: 50%;
  text-decoration: none;
  background-size: 100% 2px;
 }

 .leftgear{  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: none;
  color: white!important;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.leftgear:hover{
  transition: 3s;
  transform: scale(1.10);
}

#changeText {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 57px;
	background-color: #3392fb;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #3392fb;
	}
}

.fa{
  padding: 20px;
  font-size: 30px;
  transform: scale(1.75);
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: none!important;
}

.m-text {
  transition: 0.3s;
  transform: scale(0.95);
}
.m-page:hover .m-text, .m-image {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1);
}

.center{
  text-align: center;
}



.accordioncard{
  text-decoration: none !important;
  background:  white;
}

.btn-link{
  text-decoration: none !important;
  color: #5d5d5d;
}

.btn-link:hover{
  text-decoration: none !important;
  color: #5d5d5d40;
}

section{
  margin-top: 30px;
}
.center{
  text-align: center;
}